[submodule "themes/tale-hugo"]
	path = themes/tale-hugo
	url = https://github.com/EmielH/tale-hugo
[submodule "themes/hugo-atom-feed"]
	path = themes/hugo-atom-feed
	url = git@github.com:kaushalmodi/hugo-atom-feed
