<div class="catalogue-item">
  <a href="{{ .Permalink }}">
    <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
    <h1 class="catalogue-title">{{ .Title }}</h1>
  </a>
  <div class="catalogue-tags">
    {{ range .Params.Tags }}
    <div class="post-tag"><a href={{ path.Join "tags/" . | relURL }}>#{{ . }}</a></div>
    {{ end }}
  </div>
  <p>
    {{ if .Description }}
      {{ .Description }}
    {{ else }}
      {{ .Summary }}
    {{ end }}
  </p>
  <div class="read-more"><a href="{{ .Permalink }}">Read more...</a></div>
</div>
