html {
  font-feature-settings: "kern" 1, "liga" 1, "onum" 1;
  font-family: Georgia,"Bitstream Charter","Times New Roman",Times,serif;
  font-size: 12pt;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #3c434c;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4rem;
  margin-bottom: 0.5rem;
}

blockquote {
  color: #5d6775;
}

.post {
  max-width: 40em;
}

.post-title {
    font-size: 2rem;
}

.catalogue-title {
    font-size: 1.5rem;
}

.catalogue-line {
    display: none;
}

.catalogue-item {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
}

.catalogue-tags {
    font-size: 80%;
}

.post-info {
    text-align: left;
}

.post-title {
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0.1rem;
}

.post-date {
  display: inline-block;
  padding-right: 0.5rem;
}

.post-author {
  display: inline;
}

.post-tags {
    margin-bottom: 2rem;
    display: block;
}

.post-tag {
    font-family: monospace;
    display: inline;
}

.highlight {
  padding: 0;
}

.highlight pre {
    font-size: 0.8rem;
    padding: 1rem;
}

code {
  white-space: pre;
}

.post {
    padding-top: 1rem;
}

/* For MathJAX */

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    margin: 0;
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.pagination .active a {
  color: black;
}

.pagination .disabled {
  display: none;
}

.read-more {
  display: none;
}

a.anchor {
  visibility: hidden;
}

:is(h1, h2, h3, h4, h5, h6):hover .anchor {
  visibility: visible;
}

#table-of-contents {
  position: fixed;
  top: 5rem;
  right: 0;
  padding-top: 3rem;
  float: right;
  font-size: 90%;
}

#table-of-contents ul li {
  margin-top: 0;
}

#table-of-contents a {
  color: #3c434c;
}

#table-of-contents a:hover {
  text-decoration: underline;
}

#table-of-contents .heading {
  color: #3c434c;
  font-family: sans
}

#table-of-contents .contents {
  margin-top: -0.5rem;
}

#table-of-contents ul ul {
  font-size: 85%;
}
